In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("valeur_fonciere_buch_unique.csv", index_col=[0])
df.sort_values(by="date_mutation", inplace=True)
df

,date_mutation,nature_mutation,valeur_fonciere,numero_voie,suffixe_numero,type_voie,code_voie,voie,code_postal,commune,...,nombre_lots,code_type_local,type_local,identifiant_local,surface_relle_bati,nombre_pieces_principales,nature_culture,nature_culture_speciale,surface_terrain,unique
8517,2014-01-03,Vente,95000.0,NaN,NaN,RUE,2049,MICHEL LABARTHE,33260.0,LA TESTE-DE-BUCH,...,1,2.0,Appartement,NaN,62.0,3.0,NaN,NaN,NaN,2014-01-03 95000.0
7816,2014-01-03,Vente,82000.0,13.0,B,RUE,1480,GUYNEMER,33260.0,LA TESTE-DE-BUCH,...,0,1.0,Maison,NaN,80.0,4.0,S,NaN,678.0,2014-01-03 82000.0
6029,2014-01-06,Vente,200000.0,21.0,NaN,CHE,0461,DE BRAOUET,33260.0,LA TESTE-DE-BUCH,...,0,NaN,NaN,NaN,NaN,NaN,AG,NaN,280.0,2014-01-06 200000.0
1300,2014-01-06,Vente,157000.0,9000.0,NaN,ALL,1926,MARIE DUFAURE CAZAUX,33260.0,LA TESTE-DE-BUCH,...,1,1.0,Maison,NaN,84.0,4.0,NaN,NaN,NaN,2014-01-06 157000.0
1252,2014-01-08,Vente,246000.0,11.0,NaN,ALL,2751,DES REINETTES CAZAUX,33260.0,LA TESTE-DE-BUCH,...,0,1.0,Maison,NaN,89.0,4.0,S,NaN,840.0,2014-01-08 246000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15629,2022-12-04,Vente,"263150,00",NaN,NaN,RUE,2049,MICHEL LABARTHE,33260.0,LA TESTE-DE-BUCH,...,1,2.0,Appartement,NaN,86.0,5.0,NaN,NaN,NaN,"2022-12-04 263150,00"
15635,2022-12-05,Vente,"2172000,00",8.0,NaN,AV,3055,DES TROPIQUES PYLA,33115.0,LA TESTE-DE-BUCH,...,0,1.0,Maison,NaN,197.0,6.0,S,NaN,500.0,"2022-12-05 2172000,00"
15638,2022-12-05,Vente,"805000,00",6.0,NaN,RUE,2763,DES ROMARINS,33260.0,LA TESTE-DE-BUCH,...,0,1.0,Maison,NaN,165.0,5.0,S,NaN,1011.0,"2022-12-05 805000,00"
15639,2022-12-05,Vente,"68453,00",1270.0,NaN,AV,1467,GUSTAVE EIFFEL,33260.0,LA TESTE-DE-BUCH,...,1,3.0,DÃ©pendance,NaN,0.0,0.0,NaN,NaN,NaN,"2022-12-05 68453,00"
15634,2022-12-05,Vente,"1400000,00",9.0,NaN,AV,2820,DU SABLONEY PYLA,33115.0,LA TESTE-DE-BUCH,...,0,1.0,Maison,NaN,85.0,5.0,S,NaN,611.0,"2022-12-05 1400000,00"

In [3]:
#df[df['type_local'] == ]
df.type_local.unique()

array(['Appartement', 'Maison', nan, 'DÃ©pendance',
       'Local industriel. commercial ou assimilÃ©'], dtype=object)

In [4]:
#df[df['type_local'] == ]
df.date_mutation = df.date_mutation.map(pd.to_datetime)
df.insert(1, "year_mutation", df["date_mutation"].map(lambda x : x.year))

In [5]:
df['valeur_fonciere'] = df['valeur_fonciere'].replace(",",".", regex=True).map(float)
df.loc[(df['code_postal'] == '33115.0') & (df['type_local'] == 'Maison')].groupby('year_mutation')['valeur_fonciere'].mean().map(int)

Series([], Name: valeur_fonciere, dtype: object)

In [6]:
df[df['year_mutation'] == 2017].loc[df['voie'].str.contains("PASTEUR") == True]

,date_mutation,year_mutation,nature_mutation,valeur_fonciere,numero_voie,suffixe_numero,type_voie,code_voie,voie,code_postal,...,nombre_lots,code_type_local,type_local,identifiant_local,surface_relle_bati,nombre_pieces_principales,nature_culture,nature_culture_speciale,surface_terrain,unique
1537,2017-02-17,2017,Vente,292000.0,7.0,NaN,ALL,2325,PASTEUR CAZAUX,33260.0,...,0,1.0,Maison,NaN,86.0,5.0,S,NaN,998.0,2017-02-17 292000.0
3536,2017-05-17,2017,Vente,429300.0,1.0,T,AV,2330,PASTEUR,33260.0,...,0,1.0,Maison,NaN,96.0,4.0,S,NaN,585.0,2017-05-17 429300.0
3560,2017-07-19,2017,Vente,133000.0,6.0,NaN,AV,2330,PASTEUR,33260.0,...,1,2.0,Appartement,NaN,37.0,2.0,NaN,NaN,NaN,2017-07-19 133000.0
1671,2017-08-21,2017,Vente,214000.0,7.0,NaN,ALL,2325,PASTEUR CAZAUX,33260.0,...,0,1.0,Maison,NaN,86.0,5.0,S,NaN,484.0,2017-08-21 214000.0
3551,2017-10-27,2017,Vente,308000.0,12.0,NaN,AV,2330,PASTEUR,33260.0,...,0,1.0,Maison,NaN,88.0,3.0,S,NaN,195.0,2017-10-27 308000.0
3563,2017-11-10,2017,Vente,8000.0,6.0,NaN,AV,2330,PASTEUR,33260.0,...,1,3.0,DÃ©pendance,NaN,0.0,0.0,NaN,NaN,NaN,2017-11-10 8000.0
3562,2017-11-10,2017,Vente,1000.0,6.0,NaN,AV,2330,PASTEUR,33260.0,...,1,3.0,DÃ©pendance,NaN,0.0,0.0,NaN,NaN,NaN,2017-11-10 1000.0
4453,2017-12-08,2017,Vente,108500.0,21.0,NaN,AV,2330,PASTEUR,33260.0,...,0,1.0,Maison,NaN,102.0,5.0,S,NaN,406.0,2017-12-08 108500.0