In [2]:
import pandas as pd
import json

In [78]:
df = pd.read_csv("/Users/admin/Desktop/repo/real_estate_datavis/valeurs_fonciere_buch.csv")
df.drop_duplicates(inplace=True)
df['type_local'].unique()
df['code_postal'].unique()
df.columns
df

,Unnamed: 0.1,Unnamed: 0,date_mutation,nature_mutation,valeur_fonciere,numero_voie,suffixe_numero,type_voie,code_voie,voie,...,numero_volume,nombre_lots,code_type_local,type_local,identifiant_local,surface_relle_bati,nombre_pieces_principales,nature_culture,nature_culture_speciale,surface_terrain
0,0,0,2018-06-15,Vente,30000.0,NaN,NaN,NaN,B135,LE COURNEAU,...,NaN,0,NaN,NaN,NaN,NaN,NaN,BR,PIN,28199.0
1,1,1,2015-04-14,Vente,30000.0,NaN,NaN,NaN,B044,LE BECQUET,...,NaN,0,NaN,NaN,NaN,NaN,NaN,L,NaN,10110.0
2,2,2,2015-12-29,Vente,3750000.0,NaN,NaN,NaN,B044,LE BECQUET,...,NaN,0,NaN,NaN,NaN,NaN,NaN,L,NaN,65815.0
3,3,3,2018-12-27,Vente,3750000.0,NaN,NaN,NaN,B044,LE BECQUET,...,NaN,0,NaN,NaN,NaN,NaN,NaN,AB,NaN,65815.0
4,4,4,2015-12-29,Vente,3750000.0,NaN,NaN,NaN,B044,LE BECQUET,...,NaN,0,NaN,NaN,NaN,NaN,NaN,L,NaN,132607.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16228,5746,5746,2022-05-31,Vente,"810540,00",6.0,NaN,RUE,0855,DU DIAPASON,...,NaN,0,3.0,Dépendance,NaN,0.0,0.0,S,NaN,1000.0
16229,5747,5747,2022-05-31,Vente,"810540,00",6.0,NaN,RUE,0855,DU DIAPASON,...,NaN,0,1.0,Maison,NaN,119.0,5.0,S,NaN,1000.0
16230,5748,5748,2022-05-31,Vente,"810540,00",6.0,NaN,RUE,0855,DU DIAPASON,...,NaN,0,3.0,Dépendance,NaN,0.0,0.0,S,NaN,1000.0
16231,5749,5749,2022-05-31,Vente,"15000,00",8.0,NaN,RUE,1875,MANCILLIA,...,NaN,1,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN
16232,5750,5750,2022-05-31,Vente,"1650000,00",NaN,NaN,NaN,B043,BELLEVUE-EST,...,NaN,0,NaN,NaN,NaN,NaN,NaN,AG,NaN,902.0

In [79]:

df.valeur_fonciere = df.valeur_fonciere.map(str)
df["unique"] = df[["date_mutation", "valeur_fonciere"]].apply(lambda x: " ".join(x), axis =1)
df = df.drop_duplicates(subset='unique')
df.to_csv("valeur_fonciere_buch_unique.csv")

In [76]:
maison_pyla = df.loc[(df['type_local'] == 'Maison') & (df['code_postal'] == 33115)]
maison_pyla.valeur_fonciere = maison_pyla.valeur_fonciere.map(str)
maison_pyla["unique"] = maison_pyla[["date_mutation", "valeur_fonciere"]].apply(lambda x: " ".join(x), axis =1)
maison_pyla = maison_pyla.drop_duplicates(subset='unique')
maison_pyla

/var/folders/rw/3l7m_pl90hgbgv97f87910n00000gn/T/ipykernel_9326/3857573374.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  maison_pyla.valeur_fonciere = maison_pyla.valeur_fonciere.map(str)
/var/folders/rw/3l7m_pl90hgbgv97f87910n00000gn/T/ipykernel_9326/3857573374.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  maison_pyla["unique"] = maison_pyla[["date_mutation", "valeur_fonciere"]].apply(lambda x: " ".join(x), axis =1)

,Unnamed: 0.1,Unnamed: 0,date_mutation,nature_mutation,valeur_fonciere,numero_voie,suffixe_numero,type_voie,code_voie,voie,...,nombre_lots,code_type_local,type_local,identifiant_local,surface_relle_bati,nombre_pieces_principales,nature_culture,nature_culture_speciale,surface_terrain,unique
194,194,194,2016-10-20,Vente,252000.0,9027.0,NaN,NaN,B443,EDEN NORD,...,0,1.0,Maison,NaN,36.0,2.0,S,NaN,616.0,2016-10-20 252000.0
199,199,199,2014-05-16,Vente,42000.0,9003.0,NaN,NaN,B436,L EDEN PYLA,...,0,1.0,Maison,NaN,36.0,2.0,S,NaN,40.0,2014-05-16 42000.0
210,210,210,2018-05-07,Vente,450000.0,9154.0,NaN,NaN,B443,EDEN NORD,...,0,1.0,Maison,NaN,96.0,4.0,S,NaN,38.0,2018-05-07 450000.0
284,284,284,2014-08-14,Vente,750000.0,13.0,NaN,AV,0831,DE LA CROULE LE PYLA,...,0,1.0,Maison,NaN,106.0,4.0,S,NaN,500.0,2014-08-14 750000.0
286,286,286,2018-03-30,Vente,1198390.0,23.0,NaN,AV,0831,DE LA CROULE LE PYLA,...,0,1.0,Maison,NaN,113.0,4.0,S,NaN,500.0,2018-03-30 1198390.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16154,5672,5672,2022-06-29,Vente,"1288000,00",5.0,NaN,ALL,0225,DE L AURORE PYLA,...,0,1.0,Maison,NaN,75.0,3.0,S,NaN,949.0,"2022-06-29 1288000,00"
16189,5707,5707,2022-01-31,Vente,"900000,00",36.0,NaN,BD,0871,DU DOC LOUIS LALANNE PYLA,...,0,1.0,Maison,NaN,76.0,3.0,S,NaN,672.0,"2022-01-31 900000,00"
16193,5711,5711,2022-01-31,Vente,"7750000,00",90.0,NaN,BD,2240,DE L OCEAN PYLA,...,0,1.0,Maison,NaN,71.0,4.0,S,NaN,1056.0,"2022-01-31 7750000,00"
16206,5724,5724,2022-03-31,Vente,"1500000,00",217.0,NaN,BD,2240,DE L OCEAN PYLA,...,0,1.0,Maison,NaN,140.0,6.0,S,NaN,359.0,"2022-03-31 1500000,00"
16226,5744,5744,2022-05-31,Vente,"1650000,00",23.0,NaN,AV,0320,DE BELLEVUE PYLA,...,0,1.0,Maison,NaN,123.0,4.0,S,NaN,106.0,"2022-05-31 1650000,00"

In [72]:
df_unique_transaction = maison_pyla[['date_mutation', 'valeur_fonciere']]
df_unique_transaction.valeur_fonciere = df_unique_transaction.valeur_fonciere.map(str)
df_unique_transaction["unique"] = df_unique_transaction[["date_mutation", "valeur_fonciere"]].apply(lambda x: " ".join(x), axis =1)
df_unique_transaction.drop_duplicates(subset='unique')
#df_unique_transaction["unique"] = df_unique_transaction["unique"].apply(lambda x : tuple(x.split(" ")))
#df_unique_transaction["unique"]

/var/folders/rw/3l7m_pl90hgbgv97f87910n00000gn/T/ipykernel_9326/413914977.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_unique_transaction.valeur_fonciere = df_unique_transaction.valeur_fonciere.map(str)
/var/folders/rw/3l7m_pl90hgbgv97f87910n00000gn/T/ipykernel_9326/413914977.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_unique_transaction["unique"] = df_unique_transaction[["date_mutation", "valeur_fonciere"]].apply(lambda x: " ".join(x), axis =1)

      date_mutation valeur_fonciere                 unique
194      2016-10-20        252000.0    2016-10-20 252000.0
199      2014-05-16         42000.0     2014-05-16 42000.0
210      2018-05-07        450000.0    2018-05-07 450000.0
284      2014-08-14        750000.0    2014-08-14 750000.0
286      2018-03-30       1198390.0   2018-03-30 1198390.0
...             ...             ...                    ...
16154    2022-06-29      1288000,00  2022-06-29 1288000,00
16189    2022-01-31       900000,00   2022-01-31 900000,00
16193    2022-01-31      7750000,00  2022-01-31 7750000,00
16206    2022-03-31      1500000,00  2022-03-31 1500000,00
16226    2022-05-31      1650000,00  2022-05-31 1650000,00

[597 rows x 3 columns]

In [89]:
df = pd.read_csv("/Users/admin/Desktop/repo/real_estate_datavis/valeur_fonciere_buch_unique.csv",index_col=[0])
df = df.drop(df.columns[[0, 1]],axis = 1)
df.to_csv("valeur_fonciere_buch_unique.csv")

,date_mutation,nature_mutation,valeur_fonciere,numero_voie,suffixe_numero,type_voie,code_voie,voie,code_postal,commune,...,nombre_lots,code_type_local,type_local,identifiant_local,surface_relle_bati,nombre_pieces_principales,nature_culture,nature_culture_speciale,surface_terrain,unique
0,2018-06-15,Vente,30000.0,NaN,NaN,NaN,B135,LE COURNEAU,33260.0,LA TESTE-DE-BUCH,...,0,NaN,NaN,NaN,NaN,NaN,BR,PIN,28199.0,2018-06-15 30000.0
1,2015-04-14,Vente,30000.0,NaN,NaN,NaN,B044,LE BECQUET,33260.0,LA TESTE-DE-BUCH,...,0,NaN,NaN,NaN,NaN,NaN,L,NaN,10110.0,2015-04-14 30000.0
2,2015-12-29,Vente,3750000.0,NaN,NaN,NaN,B044,LE BECQUET,33260.0,LA TESTE-DE-BUCH,...,0,NaN,NaN,NaN,NaN,NaN,L,NaN,65815.0,2015-12-29 3750000.0
3,2018-12-27,Vente,3750000.0,NaN,NaN,NaN,B044,LE BECQUET,33260.0,LA TESTE-DE-BUCH,...,0,NaN,NaN,NaN,NaN,NaN,AB,NaN,65815.0,2018-12-27 3750000.0
8,2017-06-29,Vente,14000.0,NaN,NaN,NaN,B421,VILLEMARIE,33260.0,LA TESTE-DE-BUCH,...,0,NaN,NaN,NaN,NaN,NaN,BR,PIN,4793.0,2017-06-29 14000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16223,2022-05-31,Vente,"890000,00",1.0,NaN,CHE,2360,DE PECHIC,33260.0,LA TESTE-DE-BUCH,...,0,1.0,Maison,NaN,89.0,4.0,AG,NaN,575.0,"2022-05-31 890000,00"
16225,2022-05-31,Vente,"113000,00",17.0,NaN,RUE,2600,DU PORT,33260.0,LA TESTE-DE-BUCH,...,1,4.0,Local industriel. commercial ou assimilé,NaN,28.0,0.0,NaN,NaN,NaN,"2022-05-31 113000,00"
16226,2022-05-31,Vente,"1650000,00",23.0,NaN,AV,0320,DE BELLEVUE PYLA,33115.0,LA TESTE-DE-BUCH,...,0,1.0,Maison,NaN,123.0,4.0,S,NaN,106.0,"2022-05-31 1650000,00"
16227,2022-05-31,Vente,"810540,00",6.0,NaN,RUE,0855,DU DIAPASON,33260.0,LA TESTE-DE-BUCH,...,0,3.0,Dépendance,NaN,0.0,0.0,S,NaN,1000.0,"2022-05-31 810540,00"
16231,2022-05-31,Vente,"15000,00",8.0,NaN,RUE,1875,MANCILLIA,33260.0,LA TESTE-DE-BUCH,...,1,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN,"2022-05-31 15000,00"